.hero {
    background-color: #F5E7C6;
    min-height: 80vh;
    display: flex;
    align-items: center
}

.section-padding {
    padding: 30px;
}

#projects {
    background-color: #FAF3E1;
}

.navbar {
    background-color: #DDBA7D;
    font-size: large;
}

footer {
    background-color: #DDBA7D;
}

.btn {
    background-color: #FF6D1F;
    border: none;
}

#certifications {
    background-color: #FAF3E1;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}
